<div>
  <div class="profilediv">
    <div class="d-flex">
      <div>
        <div class="d-flex">
          <div>
            <img
              src="../../../../assets/images/emptyuser.png"
              width="150px"
              height="150px"
              style="border-radius: 65px"
            />
          </div>
          <div class="mt-4 ml-2" style="width: 300px">
            <h1
              style="
                font-weight: 500;
                font-family: Century Gothic, Arial, Helvetica, sans-serif;
                font-size: 2.34375rem;
              "
            >
              Ali issa
            </h1>
          </div>
          <div style="padding-left: 680px">
            <div>
              <button
                (click)="toggleDiv()"
                style="border: transparent; background-color: transparent"
              >
                <div class="d-flex">
                  <div>
                    <i
                      class="icon fa fa-cog fa-fw"
                      title="Actions menu"
                      aria-label="Actions menu"
                      style="font-size: x-large"
                    ></i>
                  </div>
                  <div><mat-icon>arrow_drop_down</mat-icon></div>
                </div>
              </button>
            </div>
            <div id="droplist" style="display: none; margin-right: 400px">
              <div style="border: 1.5px solid black">
                <a class="dropdown-item" href="#">Edit Profile</a>
              </div>
              <div style="border: 1.5px solid black">
                <a class="dropdown-item" href="#">Change Password</a>
              </div>
              <div style="border: 1.5px solid black">
                <a class="dropdown-item" href="#">Action</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="mt-3 ml-3">
            <a routerLink="/home" style="color: #0a66c2">Home</a>
            /
            <span
              ><a
                routerLink="/users/profile/{{ userid }}"
                style="color: #0a66c2"
                >Profile</a
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //////////////////////////////////////////// -->
  <div class="profilediv">
    <div class="d-flex">
      <div class="profilediv">
        <div class="d-block" style="width: 600px">
          <div>
            <h3 style="color: black">User Details</h3>
          </div>
          <div style="margin-left: 500px">
            <a routerLink="" style="color: #0a66c2">Edit Profile</a>
          </div>
          <div>
            <dt>Email Address</dt>
            <a class="mt-4" style="color: #0a66c2">Ahi022@gmail.com</a>
          </div>
          <div class="mt-3">
            <dt>Phone Number</dt>
            <a class="mt-4" style="color: #0a66c2">01000000</a>
          </div>
          <div class="mt-3">
            <dt>AIM ID</dt>
            <a class="mt-4" style="color: #0a66c2">1101</a>
          </div>
        </div>
      </div>
      <!-- //////// -->
      <div style="margin-left: 30px;">
        <div class="profilediv" style="width: 600px;display:block">
          <h3>Login Activity</h3>
          <dt class="mt-2" style="color: #0a66c2">Friday, 20 October 2017, 9:02 PM (5 years 177 days)</dt>
          <h3 class="mt-4">Last Access</h3>
          <dt class="mt-2" style="color: #0a66c2">Friday, 20 October 2017, 9:02 PM (5 years 177 days)</dt>
        </div>
        <div class="profilediv" style="display: blockcd;">
            <div>
                <h3>Course Details</h3>
            </div>
            <div style="color: #0a66c2;">
                <div>AI</div>
                <div>Numerical</div>
                <div>DataBase</div>
                <div>AI</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
