<div>
    <div class="center">
        <div class=" mt-3 ">
            <!-- /////////////Name/////////// -->
            <form action=""  style="width:100%" >
              <div style="margin-left: 350px;">
                <input
                  style="width: 200px;margin-left:280px"
                  id="shadow"
                  class="btn mb-2 mb-md-0 btn-round btn-outline btn-block"
                  type="text"
                  placeholder="name"
                  name="name"
                  [(ngModel)]="userdetails.name"
                />
              </div>
              <div>
                <button
                  type="submit"
                  class="btn mb-2 mb-md-0 btn-secondary btn-block btn-round"
                  id="fixedbtn"
                >
                  <span>Submit</span>
                  <div
                    class="icon icon-round d-flex align-items-center justify-content-center"
                  >
                    <mat-icon style="color: black"> done_outline</mat-icon>
                  </div>
                </button>
              </div>
            </form>
          </div>
    </div>
</div>